// Override fonts _typography.scss
$font-family-sans-serif: 'Roboto', Arial, Helvetica sans-serif;
$font-family-base: $font-family-sans-serif;

$Font-weight-normal: 400;
$Font-weight-bold: 700;
$Font-weight-extra-bold:800;

$Font-size-xs:  11px;
$Font-size-sm:  14px;
$Font-size-md:  16px;
$Font-size-lg:  18px;
$Font-size-xl:  25px;
$Font-size-xxl: 29px;